<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>
  </thead>
</table>

<h2>New book</h2>
<%= form_with model:@new_book, local:true do |f| %>

  <div>Title<br>
  <%= f.text_field :title %></div>

  <div>Body<br>
  <%= f.text_area :body %></div>
  <div><%= f.submit 'Create Book' %></div>
<% end %>

